<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.micahrosales.alfred-emoji-go</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0069FE78-0C03-46D8-96E6-C1413FFDA70A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80A05DD1-A820-4EAC-9A0C-0CBA13E93992</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8FC5A2CE-552C-465E-AB3A-68FD972499E9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DCCA7B50-3D81-4B7C-B8DA-6AE3FB7B2F31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0C1189DB-8AF4-4276-AEB2-27A9C00E4022</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DCCA7B50-3D81-4B7C-B8DA-6AE3FB7B2F31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9FC02E8-F9F3-4D65-A221-E182DBA7D567</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0069FE78-0C03-46D8-96E6-C1413FFDA70A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB464379-2ACB-4FB5-8B8D-BB26DFD65C2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0069FE78-0C03-46D8-96E6-C1413FFDA70A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Micah Rosales</string>
	<key>description</key>
	<string>Look up emojis by keyword</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji Go</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>emoji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Results</string>
				<key>script</key>
				<string>./alfred-emoji "$@"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D9FC02E8-F9F3-4D65-A221-E182DBA7D567</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>80A05DD1-A820-4EAC-9A0C-0CBA13E93992</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>8FC5A2CE-552C-465E-AB3A-68FD972499E9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>0C1189DB-8AF4-4276-AEB2-27A9C00E4022</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0069FE78-0C03-46D8-96E6-C1413FFDA70A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>e</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Results</string>
				<key>script</key>
				<string>./alfred-emoji "$@"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB464379-2ACB-4FB5-8B8D-BB26DFD65C2C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DCCA7B50-3D81-4B7C-B8DA-6AE3FB7B2F31</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Emoji Lookup Workflow

Easily search for emojis using with Alfred.

Customization:

* You can set the `skin_tone` variable to one of
	* (empty – default tone)
    * light
    * medium_light
    * medium
    * medium_dark
    * dark</string>
	<key>uidata</key>
	<dict>
		<key>0069FE78-0C03-46D8-96E6-C1413FFDA70A</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>80A05DD1-A820-4EAC-9A0C-0CBA13E93992</key>
		<dict>
			<key>note</key>
			<string>Paste Emoji Symbol in frontmost app</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D9FC02E8-F9F3-4D65-A221-E182DBA7D567</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>DB464379-2ACB-4FB5-8B8D-BB26DFD65C2C</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>DCCA7B50-3D81-4B7C-B8DA-6AE3FB7B2F31</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>skin_tone</key>
		<string></string>
		<key>update_repository</key>
		<string>mrosales/alfred-emoji-go</string>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://micahrosales.com</string>
</dict>
</plist>
